<div class="main-content page-m">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
                <!-- CUSTOMER -->
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="row justify-content-between">
                        <div class="col-md-2">
                            <label>First Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="firstName" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Last Name</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="lastName" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Email</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="email" type="email">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- SHIPPING ADDRESS -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="row justify-content-between">
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option>TODO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option>TODO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Zip Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="input-space">
                    <label class="au-checkbox">
                        <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)" />
                        <span class="au-checkmark"></span> Billing Address same as Shipping Address.
                    </label>
                </div>
                <!-- BILLING ADDRESS -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="row justify-content-between">
                        <div class="col-md-2">
                            <label>Country</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="country">
                                    <option>TODO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Street</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="street" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>City</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="city" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>State</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="state">
                                    <option>TODO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Zip Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="zipCode" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CARD INFORMATION -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="row justify-content-between">
                        <div class="col-md-2">
                            <label>Card Type</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <select formControlName="cardType">
                                    <option>Visa</option>
                                    <option>Mastercard</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Name on Card</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardName" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Card Number</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="cardNumber" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Security Code</label>
                        </div>
                        <div class="col-md-9">
                            <div class="input-space">
                                <input formControlName="securityCode" type="text">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <label>Expiration</label>
                        </div>
                        <div class="col-md-9 input-space d-flex">
                            <select formControlName="expirationMonth" type="select">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                            <select formControlName="expirationYear" type="select">
                                <option *ngFor="let year of getYears()" [value]="year">{{ year }}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- Order Details -->
                <div class="form-area">
                    <h3>Review Your Order</h3>

                    <div class="d-flex justify-content-between">
                        <p>Total Quantity:</p> {{ totalQuantity }}
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Shipping:</p> FREE
                    </div>
                    <div class="d-flex justify-content-between">
                        <p>Total Price:</p> {{ totalPrice | currency: 'USD'}}
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="primary-btn">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>